@keyframes ldio-wz95p4eg6d {
  0% {
    transform: translate(12px, 80px) scale(0);
  }
  25% {
    transform: translate(12px, 80px) scale(0);
  }
  50% {
    transform: translate(12px, 80px) scale(1);
  }
  75% {
    transform: translate(80px, 80px) scale(1);
  }
  100% {
    transform: translate(148px, 80px) scale(1);
  }
}
@keyframes ldio-wz95p4eg6d-r {
  0% {
    transform: translate(148px, 80px) scale(1);
  }
  100% {
    transform: translate(148px, 80px) scale(0);
  }
}
@keyframes ldio-wz95p4eg6d-c {
  0% {
    background: #515050;
  }
  25% {
    background: #818abd;
  }
  50% {
    background: #60e3f4;
  }
  75% {
    background: #6af8aa;
  }
  100% {
    background: #515050;
  }
}
.ldio-wz95p4eg6d div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(80px, 80px) scale(1);
  //   background: #515050;
  animation: ldio-wz95p4eg6d 1s infinite cubic-bezier(0, 0.5, 0.5, 1);
}
.ldio-wz95p4eg6d div:nth-child(1) {
  background: #6af8aa;
  transform: translate(148px, 80px) scale(1);
  animation: ldio-wz95p4eg6d-r 0.25s infinite cubic-bezier(0, 0.5, 0.5, 1),
    ldio-wz95p4eg6d-c 1s infinite step-start;
}
.ldio-wz95p4eg6d div:nth-child(2) {
  animation-delay: -0.25s;
  background: #515050;
}
.ldio-wz95p4eg6d div:nth-child(3) {
  animation-delay: -0.5s;
  background: #6af8aa;
}
.ldio-wz95p4eg6d div:nth-child(4) {
  animation-delay: -0.75s;
  background: #60e3f4;
}
.ldio-wz95p4eg6d div:nth-child(5) {
  animation-delay: -1s;
  background: #818abd;
}
.loadingio-spinner-ellipsis-6xf3sb2v3g {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.ldio-wz95p4eg6d {
  margin-left: -15%;
}
.ldio-wz95p4eg6d div {
  box-sizing: content-box;
}
