*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button{
  outline: none;
  border-radius: .3em;
  border: none;
  padding: .5em .8em;
  cursor: pointer;
}
a{
  text-decoration: none;
  
}
// .overlay{
//   background-color: black !important;
// }
body {
  overflow: hidden;

  // background-color: hsl(204, 62%, 23%);
// overflow: hidden;
}
.app {
  width: 100%;
  // height: 90vh;
}
.header {
  height: 10vh;
  background-color: hsl(209, 45%, 18%);
  // grid-area: 1/1/1/1;
  color: white;
}
.body {
  height: 90vh;

}

.footer {
  background-color: hsl(210, 28%, 16%);
  color: white;
}
::selection {
  background: dodgerblue;
}
::spelling-error {
  color: rgb(255, 0, 85);
}
::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.397);
}

::-webkit-scrollbar-thumb:hover {
  background: dodgerblue;
}
