.code-editor {
  textarea{
    border-collapse: collapse;
  }
  box-shadow: 0 0 1em inset;
  .top-bar {
    padding: 0.6em 2em;
    // background-color: hsl(210, 15%, 24%);
  background-color: hsl(209, 37%, 22%);

    display: flex;
    justify-content: space-between;
   .share{
     span{
       font-size: .9rem;
     }
     .share-switch{
    
     }
     display: flex;
     align-items: center;
     gap: .5em;
   }
    .run,.save{
 &:hover{
  color:skyblue;
            
          }
    }
    input.file-name {
      background: transparent;
      border: none;
      outline: none;
      color: white;
      font-size: 0.8rem;
    }

    .right {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 1em;
      select {
        padding: 0.3em;
        border: none;
        outline: none;
        background: #394a5c;

        color: white;
        option {
          padding: 0.3em;

          border: none;
          -webkit-appearance: none;
          outline: none;
        }
      }
    }
  }
}
// .ace-editor{
//   background-color: hsl(209, 37%, 22%) !important;

// }
.ace_gutter {
  background-color: hsl(208, 42%, 19%) !important;

  // background: hsl(210, 15%, 24%) !important;
}
.ace_gutter-active-line {
  background: hsl(210, 15%, 30%) !important;
}
.ace_comment {
  color: hsla(0, 0%, 100%, 0.37) !important;
}
