a{
    color:black
}
#modal{
    // width: 100%;
    margin: 1em;
    // transform: translate(50%,50%);
    // margin: 1em auto;
    padding: 2em 2em;
    box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.329);
    display: flex;
    // gap: 1em;
    outline: none;

    justify-content: space-between;
    ul{
        h2{
            font-weight: 300;
            font-size: 1.4rem;
        }
        list-style: none;
        li{
            border-radius: .3em;
            a{
            color: white;

            }
            margin-top:.8em;
         padding: .7em .8em;
    // box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.329);
    background: hsla(209, 89%, 44%, 0.986);

        }
    }
    form{
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        gap:1em;
        input{

            padding: .6em .8em;
            border-radius: .3em;
            border:none;
            background: hsla(209, 28%, 16%, 0.166);
            outline: none;
        }
        button{
            padding: .4em 1.1em;
              border: none;
              color: white;
              border-radius: .3em;
              background: hsl(209, 28%, 16%);
        }

    }
}