a{
    color:black
}
#home{
    

        .code-list{
            font-size: .85em;
           padding-right: 1em;
        list-style: none;
        // background-color: blueviolet;
        height: 80vh;
        overflow-y: scroll;
        li{

            gap: .5em;
            display: flex;
         align-items: center;
         svg{
             width: 1.5em;
         }
            // width: max-content;
            // width: min;
            border-radius: .3em;
            .delete{
                margin-left: auto;

            }
            .fa-trash{
                cursor: pointer;
                color: white;
            }
            a{
               
                display: block; 
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

            color: white;

            }
        
            margin-top:.8em;
         padding: .5em .9em;
    // box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.329);
    background: hsla(209, 78%, 30%, 0.986);

        }
    }
    
    // height:92vh;
    // width: 100%;
    // margin: 1em;
    // transform: translate(50%,50%);
    // margin: 1em auto;
    background-color: white;
    // box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.329);
    display: flex;
    // gap: 1em;
    outline: none;

   
   
        h2{
            font-weight: 200;
            font-size: 1.3rem;
            color:white;
        }
        #search
        {
            margin-bottom: 1.5em;
            display: flex;
           &-field
           {
               background: rgb(255, 255, 255);
            //    font-size: 1rem;
             padding: .8em;
             border-top-left-radius: .3em;
             border-bottom-left-radius: .3em;
             border:none;
             outline: none;
           }
           button{
             padding: .6em .8em;
               border-radius: 0;
               font-size: 1rem;

               border-top-right-radius: .3em;
             border-bottom-right-radius: .3em;
    background: hsla(209, 89%, 44%, 0.986);
    color:white;

           }
        }
   
}
    .saved_codes{
     
        padding: 2em;
    
        background-color: hsla(209, 56%, 12%, 0.986);

            width: 25%;
            p{
                color:white;
                margin-top: 1em;
            }

        }
    #right{
        padding: 2em;

        width:80%;
    // background-color: hsl(210, 28%, 12%);

        // background-color: hsla(209, 56%, 12%, 0.986);
    // background-color: hsl(212, 36%, 9%);
    background-color: hsl(208, 53%, 15%);


        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: flex-start;
        gap:.8em;
        .file-name
        {

display: flex;
gap: .1em;
width: 40%;
        input{
           width: 80%;
            padding: .7em .8em;
            border-radius: .3em;
            border:none;
        // background: #4c545cbd;
        // color:white;

            background: rgba(255, 255, 255, 1);
            outline: none;
        }
        select{
            // background: #4c545cbd;
        background: #394a5c;

        color:white;
            padding: .7em .8em;
            border-radius: .3em;
            border:none;
            // background: hsla(0, 0%, 100%, 1);
            outline: none; 
        }
    }
        button{

            font-weight: 500;
            font-size: .8rem;
            padding: .7em 1em;
              border: none;
              color:  white;
              border-radius: .3em;
              background: hsla(209, 89%, 44%, 0.986);

        }
    

    }
