.header {
  height:8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  h1 {
    font-size: 1.2em;
    .site_title{
      color:white;
    }
  }

}
