
#login,#signup{
    padding: 2em 2.5em;
    display: flex;
    flex-direction: column;
    *{
        padding: .5em .8em;
        margin-top: 1em;
    }
    input{
        &::placeholder{
            color:rgba(0, 0, 0, 0.733);
        }
        padding: .8em;
        border: none;
        outline: none;
        background-color: rgba(148, 173, 170, 0.623);
    }
    button{
        padding:.8em;
        margin-top: 1.5em;
        font-size: .9rem;
        background-color: rgb(6, 9, 17);
        color: white;
        &:hover{
            background-color: hsl(209, 100%, 50%);
          color:white;
                  }
    }
}